<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>ETC Client Portal</title>
<link rel="stylesheet" href="style.css">
<link rel="stylesheet" href="welcome.css">
</head>
<body>
  <section>
    <div class="logo"></div>
    <div class="title"></div>
    <div class="subtitle">
      <p>Exchange Traded Concepts Client Portal</p>
      <!--<p>
        Don't know where to start? Read the <a href="https://adonisjs.com/docs">documentation</a>.
      </p>
      -->
    </div>
    <div>
      <form class="form" action="" method="POST">
       <input type="text" placeholder="Username" name="email">
       
        <input type="password" placeholder="Password" name="password">

  
        <button type="submit" id="login-button">Login</button>
      </form>
    </div>
  </section>

</body>
</html>
